.panel.panel-default
  .panel-body
    .row
      .col-sm-3
        = github_repository.class.model_name.human
      .col-sm-5
        %strong= github_repository.name
      .col-sm-2
        = content_tag(:span, "Connected", class: 'label label-success') if github_repository.connected?
        = content_tag(:span, "Disconnected", class: 'label label-danger') unless github_repository.connected?
      .col-sm-2
        .pull-right
          = link_to [github_repository.room, github_repository] do
            %span.glyphicon.glyphicon-cog
            Edit

