= simple_form_for form, as: :password, url: [form.user, :password], method: :put do |f|
  = f.input :current_password, input_html: { value: '' }
  = f.input :new_password
  = f.input :new_password_confirmation
  = f.submit "Update password", class: 'btn btn-primary'
