%tr{class: identity.connected? ? 'success' : nil}
  %td{width: '20%'}
    %strong= identity.provider_name
  %td
    - if identity.connected?
      = image_tag(identity.avatar, height: 24, width: 24, alt: identity.nickname) if identity.avatar?
      - if identity.nickname?
        Connected as
        %strong= identity.nickname
  %td
    .text-right
      - if identity.connected?
        - if can?(:destroy, identity)
          = link_to([identity.user, identity.becomes(Identity)], method: :delete, class: 'text-danger') do
            Disconnect
      - else
        = link_to "Connect", "/auth/#{identity.provider}?context=connect", class: 'btn'
