- content_for :modal_id, "title-modal-for-#{member.id}"
- content_for :modal_header, "Change title of #{member.fullname}"
- content_for :modal_body do
  .row-fluid
    .progress.progress-striped.span12.active{style: "display: none;"}
      .bar.span12
  = simple_form_for([organization, member], format: :js, remote: "true") do |f|
    .form-inputs.form-horizontal
      = f.input :title
    .form-actions.text-center
      = f.submit class: 'btn btn-primary'
- content_for :modal_footer do
  :javascript
    $(document).ready(function(){
      $('#title-modal-for-#{member.id} form').submit(function(){
        $(this).find(".form-inputs", this).hide();
        $(this).parent().find(".progress").show();
      });
    });

