!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Howlat"
      %meta{:content => content_for?(:description) ? yield(:description) : "Howlat", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
        = include_gon(namespace: 'Howlat')
  %body{:class => "#{controller_name} #{action_name}"}
    = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .content
          .row
            - if current_user.present?
              .col-md-3
                = render 'layouts/menu'
              .col-md-9
                = render 'layouts/messages'
                .page-header
                  %h1= yield :header
                = yield
            - else
              .span12
                = render 'layouts/messages'
                .page-header
                  %h1= yield :header
                = yield
          %footer
