%tr{id: "member-#{member.id}-row"}
  %td
    = avatar_for(member.user)
  %td
    %strong=member.name rescue nil
    %br
    %i= member.email rescue nil
  %td
    %span.label{id: "member-#{member.id}-role_id", class: member.owner? ? 'label-success' : member.admin? ? 'label-info' : 'label'}
      = member.role.name
  - if can? :manage, member
    %td
      - title = member.title!='' ?  member.title : "(set)"
      = link_to title, "#title-modal-for-#{member.id}", class: "btn btn-small", "role"=> "button", "data-toggle"=> "modal", id: "member-#{member.id}-title"
      = render partial: 'shared/members/title_modal', layout: 'layouts/modal', locals: { organization: @organization, member: member }
    %td
      - unless member.owner?
        = simple_form_for [@organization, member], remote: true, format: :js, html: { id: "edit_member_#{member.id}_role_id"} do |f|
          = f.input :role_id, as: :hidden, input_html: { value: member.member? ? Role.admin.id : Role.member.id }
          = f.submit (member.member? ? "Promote to admin" : "Set as member"), class: "btn btn-warning btn-small"
    %td
      - if can? :destroy, member
        = link_to (member.user_id != current_user.id) ? "Remove" : "Leave", organization_member_path(@organization, member, format: :js), class: "btn btn-danger btn-small", method: :delete, remote: true
  - else
    %td
      = member.title
    %td
    %td
