= simple_form_for(@user, url: { action: :update }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :email

    .avatar-inputs.clearfix
      = f.label :avatar
      .pull-left
        = avatar_for(f.object, :small)
      .form-horizontal.pull-left
        = f.input :avatar, label: "Change avatar"
        - if f.object.avatar.present?
          = f.input :clear_avatar, value: 1, checked: false, as: :boolean

  .form-actions
    = f.button :submit, "Update Profile"
