.row-fluid
  = link_to organization, class: 'btn span12' do
    %dl.dl-horizontal.text-left
      %dt Name
      %dd= organization.name
      %dt Created by:
      %dd= organization.created_by.name
      %dt Members:
      %dd= organization.members.count
      %dt Rooms:
      %dd= organization.rooms.count
.spacer-top
