- content_for :header, "Account"
.current-user-info.clearfix
  .avatar.pull-left
    = avatar_for(@user)
  .identity
    %div
      %strong= @user.fullname
      %i= "(#{@user.email})"
    %div.spacer-top
      = link_to [:edit, :account], class: 'btn' do
        %i.icon-user
        Edit profile
      = link_to [:identities], class: 'btn' do
        %i.icon-lock
        Login settings

%hr
%h2 Organizations
= render collection: @user_organizations, partial: 'accounts/organization'

%hr
%h2 Delete user account
%p
  Deleting the account will remove you from all the organization accounts where you are a member and destroy your user information. This action cannot be reverted so make sure this is what you want.
= link_to url_for(action: :destroy), { method: :delete, "data-confirm" => "Are you sure?", class: 'btn btn-danger' } do
  %i.icon-remove
  Delete your user account
